name: Promobot CI

on:
  push:
    branches:
      - main
    paths:
      - 'promobot/**'
      - 'setup.py'
      - 'Dockerfile'
      - '.dockerignore'
      - '.github/workflows/main.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Lint with flake8
      run: |
        flake8 . --count --ignore=E402 --show-source --statistics
        flake8 . --count --ignore=E402 --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  release:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v3
      with:
        buildx-version: latest
        qemu-version: latest

    - name: Login on dockerhub
      run: |
        docker login -u ${{ secrets.DOCKER_LOGIN }} -p ${{ secrets.DOCKER_PASSWD }} docker.io

    - name: Build and push the Docker image
      run: |
        docker buildx build \
          -t leandro2r/promobot:latest \
          --platform linux/amd64,linux/arm/v7 \
          --pull --push .
